.pos{
    position:relative;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100vh;
    padding: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d6d6;
}

.contentFrase{
    width: 50%;
}

.contentFrase p{
    font-size: 24px;
}

.formcad{
    width: 380px;
    padding: 2.5em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    border-radius: 15px;
    background-color: #f2f0f0;
}

.linkHome{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    user-select: none;
    transition: all .3s;
}

.linkHome:hover{
    font-size: 50px;
}

hr{
    margin-top: 20px;
}

.contentBtn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerSmooth{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.contentRegister{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}