.menuSide {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentProfile {
  width: 80%;
  margin: 4% 10%;
}

.content {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.content .contentUser {
  display: none;
  width: 100%;
  height: 425px;
  margin-bottom: 25px;
}

.contentUser .person {
  height: 30%;
  display: flex;
  align-items: center;
}

.person span {
  border-radius: 50px;
  display: block;
  background-color: black;
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

.person .name {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
