.container{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.start{
    justify-content: start;
}