.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.start{
    display: flex;
    justify-content: start;
}