.contentItem {
  padding: 0px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.contentItem:hover {
  color: #3a63b0;
  transform: scale(1.05);
}

.item {
  border-bottom: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.item:hover {
  color: #3a63b0;
  border-color: #3a63b0;
}

.item p {
  margin-left: 8px;
  font-weight: 700;
}

.close:hover {
  color: #c93c3c;
  border-color: #c93c3c;
}
