.navbar{
    width: 25%;
    height: 100%;
}

.list{
    width: 100%;
    height: 100%;
    list-style: none;
    margin-right: 20px;
    user-select: none;
}

.infoUser{
    width: 100%;
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoUser span{
    width: 150px;
    height: 150px;
    background-color: #1f1f1f;
    border-radius: 50%;
    margin: .5em 0;
}

.infoUser p{
    font-size: 24px;
    font-weight: 700;
}