.button{
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #c2ac21;
    color:#fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: .2em;
    transition: all .3s;
}

.button:hover{
    box-shadow: none;
    background-color: #d6be22;
}